<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEightBall" />
                <binding name="BasicHttpBinding_IEightBall1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MagicEightBallService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEightBall"
                contract="IEightBall" name="BasicHttpBinding_IEightBall" />
            <endpoint address="http://localhost:8080/MagicEightBallService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEightBall1"
                contract="ServiceReference1.IEightBall" name="BasicHttpBinding_IEightBall1" />
        </client>
    </system.serviceModel>
</configuration>